node-red/flows.json
[{"id":"7431c71a.54b848","type":"tab","label":"pvoutput","disabled":false,"info":""},{"id":"fe4afda9.dcd92","type":"server","name":"Home Assistant","addon":true},{"id":"845c19ae.aa3908","type":"server","name":"Home Assistant","legacy":true,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"31c3d58.bd7222a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.4.1.56::4841","secpol":"None","secmode":"None","login":false},{"id":"f3edf207.0cbb5","type":"api-current-state","z":"7431c71a.54b848","name":"Daily Solar (Watt hours)","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.pv_energy_daily","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":250,"y":300,"wires":[["e38562f8.9ea12"]]},{"id":"cf456372.1a211","type":"inject","z":"7431c71a.54b848","name":"Every 10 Minutes","repeat":"","crontab":"*/10 0-23 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["f3edf207.0cbb5","c84a6646.b4bfe8","1a33088.18201f8","294dfdc2.2051e2","28aac601.5f93aa","9498fd2b.6af32","57fce3b5.9dbb3c"]]},{"id":"611100bc.120e5","type":"join","z":"7431c71a.54b848","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":220,"wires":[["6a986fd7.67334"]]},{"id":"8a659648.d8dfc8","type":"change","z":"7431c71a.54b848","name":"V1","rules":[{"t":"set","p":"topic","pt":"msg","to":"v1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["611100bc.120e5"]]},{"id":"c84a6646.b4bfe8","type":"api-current-state","z":"7431c71a.54b848","name":"Total Solar Power (Watts)","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.solaredge_ac_power","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":250,"y":340,"wires":[["bd7ba602.d60a78"]]},{"id":"1a33088.18201f8","type":"api-current-state","z":"7431c71a.54b848","name":"Daily Consumed (Watt hours)","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dsmr_day_consumption_electricity_merged","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":260,"y":380,"wires":[["6e031b83.080654"]]},{"id":"294dfdc2.2051e2","type":"api-current-state","z":"7431c71a.54b848","name":"Consumed Power (Watts)","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dsmr_reading_electricity_currently_delivered","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":250,"y":420,"wires":[["2f3342e3.805dae"]]},{"id":"28aac601.5f93aa","type":"api-current-state","z":"7431c71a.54b848","name":"Temperature","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.br_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":460,"wires":[["85a9189.e5132e8"]]},{"id":"9498fd2b.6af32","type":"api-current-state","z":"7431c71a.54b848","name":"Volts","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.solaredge_ac_voltage_ab","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":190,"y":500,"wires":[["89aa5b5d.fd8ca8"]]},{"id":"bd7ba602.d60a78","type":"change","z":"7431c71a.54b848","name":"V2","rules":[{"t":"set","p":"topic","pt":"msg","to":"v2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":340,"wires":[["611100bc.120e5"]]},{"id":"e31f0396.1579c","type":"change","z":"7431c71a.54b848","name":"V3","rules":[{"t":"set","p":"topic","pt":"msg","to":"v3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["611100bc.120e5"]]},{"id":"2f3342e3.805dae","type":"change","z":"7431c71a.54b848","name":"V4","rules":[{"t":"set","p":"topic","pt":"msg","to":"v4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":420,"wires":[["611100bc.120e5"]]},{"id":"85a9189.e5132e8","type":"change","z":"7431c71a.54b848","name":"V5","rules":[{"t":"set","p":"topic","pt":"msg","to":"v5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":460,"wires":[["611100bc.120e5"]]},{"id":"89aa5b5d.fd8ca8","type":"change","z":"7431c71a.54b848","name":"V6","rules":[{"t":"set","p":"topic","pt":"msg","to":"v6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["611100bc.120e5"]]},{"id":"6a986fd7.67334","type":"function","z":"7431c71a.54b848","name":"API key here","func":"msg.action = msg.payload;\nmsg.headers = { \n 'X-Pvoutput-Apikey': 'ad6d75445b4b32bf65dc0d92f19f2889e2ff92fa',\n 'X-Pvoutput-SystemId': '46558',\n 'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["ac29b49e.8bb968"]]},{"id":"ac29b49e.8bb968","type":"function","z":"7431c71a.54b848","name":"Set up data","func":"msg.action = msg.payload;\n\nmsg.url = \"http://pvoutput.org/service/r2/addstatus.jsp\";\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":890,"y":340,"wires":[["d379142b.bddf08"]]},{"id":"d379142b.bddf08","type":"http request","z":"7431c71a.54b848","name":"Post","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1070,"y":340,"wires":[["4cbd2a68.8ead64"]]},{"id":"4cbd2a68.8ead64","type":"debug","z":"7431c71a.54b848","name":"headercheck","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":460,"wires":[]},{"id":"e38562f8.9ea12","type":"function","z":"7431c71a.54b848","name":"kWh to Wh","func":"msg.payload = Number(msg.payload) * 1000;\nmsg.payload = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["8a659648.d8dfc8"]]},{"id":"6e031b83.080654","type":"function","z":"7431c71a.54b848","name":"kWh to Wh","func":"msg.payload = Number(msg.payload) * 1000;\nmsg.payload = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["e31f0396.1579c"]]},{"id":"57fce3b5.9dbb3c","type":"api-current-state","z":"7431c71a.54b848","name":"DateTime","server":"845c19ae.aa3908","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.date_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":220,"y":200,"wires":[["aa849727.4c6358"]]},{"id":"aa849727.4c6358","type":"split","z":"7431c71a.54b848","name":"","splt":", ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"out","x":350,"y":200,"wires":[["480e98dd.33f6f8"]]},{"id":"efd8b625.519f88","type":"change","z":"7431c71a.54b848","name":"d","rules":[{"t":"set","p":"topic","pt":"msg","to":"d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["611100bc.120e5"]]},{"id":"c9e83f19.9e90d","type":"change","z":"7431c71a.54b848","name":"Replace","rules":[{"t":"change","p":"payload","pt":"msg","from":"-","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["efd8b625.519f88"]]},{"id":"480e98dd.33f6f8","type":"switch","z":"7431c71a.54b848","name":"Select","property":"out","propertyType":"msg","rules":[{"t":"index","v":"1","vt":"num","v2":"1","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":200,"wires":[["303f0364.83897c"],["c9e83f19.9e90d"]]},{"id":"303f0364.83897c","type":"change","z":"7431c71a.54b848","name":"t","rules":[{"t":"set","p":"topic","pt":"msg","to":"t","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":220,"wires":[["611100bc.120e5"]]}]
